:root {
    --component-color: #ff385c
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 992px) {
    .sidebar {
        /* background-color: rgba(255, 255, 255, 0.15); */
        background: linear-gradient(0.85turn ,#fff, #e6afb9);
    }
}

.nav-link {
    color: #222;
    border-bottom: 1px solid transparent;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 1px solid var(--component-color);
    color: var(--component-color);
}

.login-btn {
    color: var(--component-color);
}

.sign-up-btn {
    background-color: var(--component-color);
}

/* footer section */

.grid--footer {
    display: grid;
    column-gap: 3.2rem;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.footer {
    padding: 3.2rem 9.6rem;
    /* border-top: 1px solid #CACACA; */
    background-color: #fff;
}

.logo-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: block;
    margin-bottom: 2.4rem;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    padding: 0;
}

.nav-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #222;
}

.social-icon:hover,
.social-icon:active {
    transition: all 0.6s;
    transform: translateY(-20%);
    color: var(--component-color);
}

.copyright {
    font-size: 1rem;
    line-height: 1.6;
    color: #222;
    margin-top: auto;
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1rem;
    color: #222;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: var(--component-color);
}

/* Main from here */

/* Optional CSS for smooth scrolling */
html {
    scroll-behavior: smooth;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 3vw;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #000;
}

.heading p{
    font-size: 2vw;
    color: #666;
    margin-bottom: 35px;
}

.container-about{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    flex: 1;
    margin-right: 40px;
    overflow: hidden; 
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    transition: 0.5s ease;
    border-radius: 25px;
}

.about-image img:hover{
    border-radius: 20px;
    transform: scale(1.2);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 15px;
    color: #333;
}

.about-content p{
    font-size: 1.2vw;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more{
    display: block;
    padding: 10px 20px;
    float: left;
    background-color: #fc6c84;
    color: #fff;
    font-size: 1.2vw;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    border: 5px solid #fc6c84;
}

.title{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    margin-top: 5rem;
}

.title h1{
    font-size: 3vw;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.title h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #000;
}

.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #F5F5F5;
    border-radius: 15px;
    cursor: pointer;
}

.card:hover{
    background-color: #F8F6F4;
    transition: 0.5s ease;
}

.card h2{
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 20px;
}

.card p{
    font-size: 1.2vw;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    color: rgb(18, 18, 18);
}

main{
    margin-top: 80px;
}
@media screen and (max-width:768px){
    .heading{
        padding: 0px 20px;
    }

    .heading h1{
        font-size: 36px;
    }

    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }

    .about{
        padding: 20px;
        flex-direction: column;
    }

    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
        
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }

    .about-content .read-more{
        float: left;
        font-size: 1rem;
    }

    .about-content h2{
        font-size: 1rem;
    }

    .services{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
    
    .card p{
        padding: 0px;
        font-size: 16px;
    }

    .title h1{
        font-size: 36px;
    }

    .card h2{
        font-size: 1rem;
    }
}



@media screen and (min-width:2200px){
    .about-image img{
        min-width: 800px;
        max-width: 1200px;
    }
}
