:root {
    --component-color: #ff385c
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 992px) {
    .sidebar {
        /* background-color: rgba(255, 255, 255, 0.15); */
        background: linear-gradient(0.85turn ,#fff, #e6afb9);
    }
}

.nav-link {
    color: #222;
    border-bottom: 1px solid transparent;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 1px solid var(--component-color);
    color: var(--component-color);
}

.login-btn {
    color: var(--component-color);
}

.sign-up-btn {
    background-color: var(--component-color);
}

/* footer section */

.grid--footer {
    display: grid;
    column-gap: 3.2rem;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.footer {
    padding: 3.2rem 9.6rem;
    /* border-top: 1px solid #CACACA; */
    background-color: #fff;
}

.logo-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: block;
    margin-bottom: 2.4rem;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    padding: 0;
}

.nav-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #222;
}

.social-icon:hover,
.social-icon:active {
    transition: all 0.6s;
    transform: translateY(-20%);
    color: var(--component-color);
}

.copyright {
    font-size: 1rem;
    line-height: 1.6;
    color: #222;
    margin-top: auto;
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1rem;
    color: #222;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: var(--component-color);
}

/* Main from here */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.con-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 100%;
    height: 650px;
    max-width: 970px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
}

.contact{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-form{
    background: #fc6c84;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-text{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
    color: #fc6c84;
    font-weight: 600;
}

.image{
    height: 350px;
    width: 350px;
}

.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    padding-top: 10px;
    color: #fff;
}

form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.input-box{
    height: 40px;
    width: 100%;
    margin: 30px 0;
    position: relative;
}

.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: .3s;
}

.input-box .input:focus ~ label,
.input-box .input:focus ~ label{
    top: -1px;
    left: 10px;
    background: #fc6c84;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

textarea.input{
    resize: none;
    min-height: 150px;
    overflow: auto;
    padding-top: 10px;
}

.btn{
    position: relative;
    top: 100px;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    font-size: 16px;
    color: #fc6c84;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background-color: whitesmoke;
    color: black;
}

@media(max-width:768px) {
    .item{
        grid-template-columns: 1fr;
    }

    .contact{
        display: none;
    }

    .text{
        font-size: 40px;
        text-align: center;
    }

    .btn{
        width: 25%;
        height: 40px;
        font-size: 12px;
    }
}

@media(max-width:480px) {
    .item{
        grid-template-columns: 1fr;
    }

    .contact{
        display: none;
    }

    .text{
        font-size: 20px;
        text-align: center;
    }

    .btn{
        width: 100%;
        height: 40px;
        font-size: 12px;
    }
}