<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Group 4
  ID: 
    Nguyen Thanh Tung - s3979425
    Nguyen The Vinh - s3979366
    Nguyen Ba Lam Quang Thai - s3975154
    Nguyen Nghia Hiep - s3978270
    Dang Trung Kien - s3979510
  Acknowledgement: ChatGPT, GoogleFonts, BoxIcon, Bootstrap -->
<%- include('partials/global_header.ejs') %>
<section class="terms-container">
<div class="total">
    <h2>TERMS AND CONDITIONS OF USE</h2>
    <h4>Last Updated: 8/24/23</h4>
    <div class="body-container">
        <p>"By accessing and using this website, along with the services and content provided herein, you are expressing your consent to abide by the following terms and conditions. Please note that you must be at least eighteen (18) years of age to use this website. If you are between the ages of thirteen (13) and eighteen (18), you must have permission from your parent or guardian to access and use the website, and you affirm that you possess such permission.

            If you find any of these terms of use, or any future revisions, unacceptable, please refrain from using or continuing to use the website or its content. Your ongoing use of the website or its content after the publication of any notice regarding changes to these terms of use will be considered as your acceptance and agreement to those modifications."</p>
    </div>

    <div class="cate-name">1. Information We Collect:</div>
    <ul class="list-terms">
        <li><span>Name:</span> We collect your full name to personalize your interactions with our platform and to facilitate order processing.</li>
        <li><span>Email Address:</span> Your email address is essential for communication regarding order confirmations, updates, shipping notifications, and customer support.</li>
        <li><span>Shipping Address:</span> To ensure timely and accurate delivery of your orders, we require your shipping address details. This information is essential for our logistics partners.</li>
        <li><span>Payment Information:</span> To facilitate secure transactions, we collect payment details when you make a purchase. This may include credit card information or other payment methods. Please note that we take stringent measures to safeguard your financial data.</li>
    </ul>

    <div class="cate-name">2. Usage Information:</div>
    <ul class="list-terms">
        <li><span>Browsing History:</span> We track the pages you visit on our website to gain insights into your interests and preferences. This helps us tailor our content and recommendations to better suit your needs.</li>
        <li><span>Pages Visited:</span> Analyzing which sections of our website you explore helps us identify areas that may require enhancements or updates.</li>
        <li><span>Device Information:</span> We collect information about the device you use to access our Service, including device type, operating system, browser type, and IP address. This assists us in optimizing our platform's compatibility and security.</li>
    </ul>

    <div class="cate-name">3. Limitations on Website Use:</div>
    <p id="intro3">The Vai website, including all its content (referred to as "Website" or "Content"), belonging to a User other than the Platform Seller who owns such Seller Content, may not be utilized, altered, reproduced, duplicated, copied, published, distributed, downloaded, sold, resold, transformed, redesigned, reconfigured, retransmitted, or otherwise exploited by you for any purpose except as enabled by the Website’s functionalities or without the express prior written consent of Vai, or in the case of Seller Content, the applicable Platform Seller. With the limitation of the foregoing, while using the Website, a User may not:</p>
    <ul class="list-terms">
        <li>Defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights of Vai or other Users, or use information learned from the Website or Content to do the same.</li>
        <li>Use the Website or Content for any purpose that contravenes applicable local, state, federal, or international laws or regulations.
            Use or export the Website or any portion thereof, or the Content, in contravention of the export control laws and regulations of Viet Nam.</li>
        <li>Uploading or Transmitting Harmful Content: You are prohibited from uploading, transmitting, or attempting to upload or transmit any information or data through the Website that contains viruses, Trojan horses, corrupted files, malware, spyware, bugs, or any similar software capable of causing damage or infiltrating the operation of another User’s computer.</li>
        <li>Impersonation: You may not impersonate another individual or User or knowingly allow someone else to use your identification or Account to access and use the Website.</li>
        <li>False Endorsement: You are not allowed to imply or claim that any statements you make on the Website are endorsed by Vai or any other User, including Platform Sellers, without obtaining prior written consent from Vai or the respective User.</li>
        <li>Data Collection and Scraping: Using automated tools such as robots, spiders, manual or automatic processes, or devices to collect, crawl, scrape, or index the Website's data in any manner is prohibited.</li>
        <li>Content Modification and Reverse Engineering: You may not adapt, alter, license, sublicense, or translate the Website or its Content for personal or commercial use. Decompiling, reverse engineering, or disassembling any software or processes accessible through the Website is also prohibited.</li>
        <li>Copyright and Trademark Alteration: You are not allowed to remove or alter, whether visually or otherwise, any copyrights, trademarks, or proprietary marks and rights owned by Vai or any third-party licensor or owner.</li>
        <li>Competing Activities: Using, transferring, distributing, or disposing of Website, Website Content, or Seller Content in a manner that competes with Vai's business (except by Platform Sellers operating their own e-commerce websites) or, with respect to Seller Content, the applicable Platform Seller, is prohibited.</li>
    </ul>

</div>
</section>
<%- include('partials/global_footer.ejs') %>