<%- include('partials/global_header.ejs') %>

    <!-- Details Product -->
    <section class="product-detaills-section p-5">
        <div class="product-img-container">
            <div class="big-img">
                <img class="rounded-3" src="../images/cloth/test1.jpg" alt="cloth">
            </div>
        </div>
        <div class="product-info-container-details">
            <div class="product-title">
                <p class="fs-2 fw-medium">Gray Color</p>
                <p><i class="fa-solid fa-star"></i> 4.95</p>
            </div>
            <p class="product-original fst-italic fw-light m-0">Polyester</p>
            <p class="product-purpose fst-italic fw-light">Summer</p>
            <p class="product-price fw-bold">10$/m</p>
            <div>
                <div class="product-size-title">
                    <p class="fs-5">Select Size</p>
                    <p class="fs-5 fw-light">Meter Unit</p>
                </div>
                <div class="product-size text-center">
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button">10M</button>
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button">15M</button>
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button">20M</button>
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button">25M</button>
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button">30M</button>
                </div>
            </div>
            <div class="container-add-to-bag-button">
                <button class="add-to-bag-button py-3 rounded-5 my-3">Add to Shopping Cart</button>
            </div>
            <p class="product-description">
                Fabric is a versatile and essential material in the world of textiles, known for its wide range of
                colors, textures, and patterns. It serves as the fundamental building block for countless items we
                encounter in our daily lives, from clothing and upholstery to accessories and household linens.</p>
        </div>

    </section>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <%- include('partials/global_footer.ejs') %>